<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248814270889-fqoc6ro05ffi6i4f2f4k52m7qq71ig2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248814270889-fqoc6ro05ffi6i4f2f4k52m7qq71ig2o</string>
	<key>API_KEY</key>
	<string>AIzaSyA4hYcWbcfPfmRCRU7eCeJnH1_uIQyGpDs</string>
	<key>GCM_SENDER_ID</key>
	<string>248814270889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PetSaver.PetSaver</string>
	<key>PROJECT_ID</key>
	<string>petsaver-8bdb7</string>
	<key>STORAGE_BUCKET</key>
	<string>petsaver-8bdb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248814270889:ios:73d4806bb8c77a4ddd6cb8</string>
	<key>DATABASE_URL</key>
	<string>https://petsaver-8bdb7.firebaseio.com</string>
</dict>
</plist>